.CreateTodoButton {
    background-color: var(--blue);
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30px;
    z-index: 1;
}

.CreateTodoButton__button {
    background-color: transparent;
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.CreateTodoButton__button .CreateTodoButton__span {
    font-weight: bold;
    color: var(--dark-grey);
    width: 100%;
    height: 40px;
    cursor: pointer;
    font-size: 3rem;
    display: inline-block;

    transform: rotate(0);
    transform-origin: center center;
    transition: 0.15s ease;
}

.CreateTodoButton__button .CreateTodoButton__span:hover {
    transform: rotate(90deg);
}

.CreateTodoButton.dark {
    background-color: var(--yellow);
}
