.CreateTodoButton {
    background-color: #29aab3;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50px;
    z-index: 1;
}

.CreateTodoButton--button {
    background-color: transparent;
    border: none;
    position: absolute;
}

.CreateTodoButton--button .CreateTodoButton--button__span {
    font-weight: bold;
    color: #FAFAFA;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 2rem;
    display: inline-block;

    transform: rotate(0);
    transform-origin: center center;
    transition: .15s ease;
}

.CreateTodoButton--button .CreateTodoButton--button__span:hover {
    transform: rotate(90deg);
}
