#root {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.darkMode--button {
    justify-self: end;
    align-self: end;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    position: relative;
}

.section--left,
.section--right {
    width: 100%;
    height: auto;
    min-width: 400px;
    max-width: 600px;
    align-self: center;
}

.section--right {
    display: grid;
    grid-template-rows: 100px 35px 50px auto;
    grid-template-columns: 1fr;
}

.section--right .Toggle-container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: end;
    align-self: center;
    margin-top: 0;
    width: 30%;
}

.section--right .Toggle-container > .Toggle {
    margin: 45px;
}

.section--right .TodoHeader {
    width: 70%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}

.section--right .TodoCounter {
    grid-row: 2 / 3;
    justify-self: center;
    align-self: start;
}

.section--right .TodoSearch {
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
}

.section--right .TodoList {
    grid-row: 4 / 5;
    justify-self: center;
    align-self: center;
}

.section--left-container {
    display: grid;
    width: 90%;
    grid-template-rows: 80px 60px 50px 532px;
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-items: start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}
