#root {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.darkMode--button {
    justify-self: end;
    align-self: end;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
    position: relative;
}

.section__left,
.section__right {
    width: 100%;
    height: auto;
    min-width: 400px;
    max-width: 600px;
    align-self: center;
}

.section__right {
    display: grid;
    grid-template-rows: 100px 35px 50px auto;
    grid-template-columns: 1fr;
    max-width: 500px;
}

.section__right .Toggle {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: end;
    align-self: center;
}

.section__right .Toggle__container {
    margin-top: 0;
    width: 35px;
    height: 17.5px;
    margin: 25px;
}

.section__right .TodoHeader {
    width: 70%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}

.section__right .TodoCounter {
    grid-row: 2 / 3;
    justify-self: center;
    align-self: start;
    width: 70%;
}

.section__right .TodoSearch {
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
    width: 70%;
}

.section__right .TodoList {
    grid-row: 4 / 5;
    justify-self: center;
    align-self: center;
    width: 70%;
}

.section__left__container {
    display: grid;
    width: 90%;
    grid-template-rows: 80px 60px 50px 532px;
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-items: start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.toast-message {
    opacity: 0.7;
    font-size: var(--sm);
}
