.TodoSearch {
    display: flex;
    margin: 0 auto;
    height: 40px;
    width: 100%;
    min-width: 320px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    max-height: 500px;
    border-radius: 6px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.6);
}

.TodoSearch__input {
    width: 100%;
    min-width: 320px;
    background-color: transparent;
    font-size: 1.8rem;
    border: none;
    outline: none;
    border-radius: 6px;
    padding-left: 15px;
    color: var(--dark-grey);
}

.TodoSearch:disabled,
.TodoSearch_input:disabled {
    opacity: 50%;
}

@media (max-width: 584px) {
    .TodoSearch {
        max-width: 320px;
        margin: 0;
    }
}
