.TodoSearch {
    display: flex;
    margin: 0 auto;
    height: 40px;
    width: 400px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    max-height: 480px;
    border-radius: 6px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.6);
}

.TodoSearch__input {
    width: 100%;
    background-color: transparent;
    font-size: 1.8rem;
    border: none;
    outline: none;
    border-radius: 6px;
    padding-left: 15px;
    color: var(--dark-grey);
}
