.TodoCounter {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    margin: 0;
    padding: 10px 0 20px;
    min-width: 200px;
    display: flex;
    position: relative;
    justify-content: center;
}

.TodoCounter--percentage {
    position: absolute;
    height: 18px;
    font-size: 0.9rem;
    text-align: center;
    color: white;
    margin: 0 auto;
    width: 65%;
    font-weight: 500;
}

progress::-moz-progress-bar, progress::-webkit-progress-value {
    background-color: #4CAF50;
    border-radius: 30px;
    height: 18px;
    border: none;
}

.TodoCounter--progressBar {
    height: 18px;
    width: 80%;
    min-width: 200px;
    background: darkgray;
    border-radius: 30px;
    border: none;
}
