li {
    background-color: var(--just-white);
    position: relative;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 3px 4px 15px rgba(32, 35, 41, 0.3);
}

li:last-child {
    margin-bottom: 12px;
}

.checklist--check {
    background-color: transparent;
}

.TodoItem-p {
    font-size: 1.6rem;
    line-height: 30px;
    font-weight: 500;
    overflow-x: scroll;
    text-overflow: ellipsis;
    margin: 10px;
    color: var(--dark-grey);
}

.TodoItem-p::-webkit-scrollbar {
    display: none;
}

.TodoItem-p {
    scrollbar-width: none;
}

.TodoItem-p--completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.Icon--image {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.checklist {
    justify-self: center;
    align-self: center;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li svg {
    justify-self: center;
    align-self: center;
    cursor: pointer;
}

.checklist label {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid var(--dark-grey);
    border-radius: 100%;
    top: 10%;
    left: 10%;
    color: var(--dark-grey);
    user-select: none;
    grid-column: 1 / 2;
    cursor: pointer;

    transform: translate(-50%, -50%);
    transition: all ease-out 200ms;
}

.checklist .checklist--check:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-bottom: 2px solid var(--blue);
    border-left: 2px solid var(--blue);
    top: 25%;
    left: 50%;
    transform-origin: bottom left;
    transform: rotate(-45deg);
    opacity: 0;
    transition: all ease-out 200ms;
}

.checklist .checklist--check {
    border: 2px solid var(--blue);
}

.checklist .checklist--check:after {
    opacity: 1;
    width: 18px;
    height: 6px;
}

.checklist-input {
    display: none;
}
