li {
    background-color: #FAFAFA;
    position: relative;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    border-radius: 30px;
}

.checklist--check {
    background-color: lightgray;
}

.TodoItem-p {
    font-size: 1rem;
    line-height: 30px;
    font-weight: 400;
    overflow-x: scroll;
    text-overflow: ellipsis;
}

.TodoItem-p--completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.Icon--image {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.checklist {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checklist .input--check {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checklist:hover .input--check~.checkmark {
    background-color: #ccc;
}

.checklist .input-check--active~.checkmark {
    background-color: plum;
    opacity: 0.5;
}

.checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.checkmark:hover {
    cursor: pointer;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checklist .input-check--active~.checkmark:after {
    display: block;
}

.checklist .checkmark:after {
    top: 4px;
    left: 4px;
    width: 17.5px;
    height: 17.5px;
    border-radius: 50%;
    background: white;
}

.TodoItem--completed {
    background-color: lightgray;
}
