.TodoCounter {
    padding: 10px 0 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 350px;
    min-width: 320px;
    margin: 0 auto;
}

.TodoCounter__percentage {
    position: absolute;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 18px;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    margin: 0 auto;
    width: 100%;
    font-weight: bold;
    min-width: 320px;
}

progress::-moz-progress-bar,
progress::-webkit-progress-value {
    background-color: #4caf50;
    border-radius: 30px;
    height: 18px;
    border: none;
}

.TodoCounter__progressBar {
    height: 18px;
    width: 100%;
    min-width: 200px;
    background: darkgray;
    border-radius: 30px;
    border: none;
    margin: 0 auto;
}

@media (max-width: 584px) {
    .TodoCounter {
        max-width: 320px;
        margin: 0;
    }
}
