form {
    width: 90%;
    max-width: 300px;
    background-color: var(--just-white);
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.TodoForm__label {
    text-align: center;
    font-weight: bold;
    font-size: var(--md);
    color: var(--dark-grey);
    margin-bottom: 26px;
}

textarea {
    background-color: var(--just-white);
    border: 2px solid var(--dark-grey);
    border-radius: 8px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: var(--dark-grey);
    padding: 12px;
    height: 70px;
    width: 274px;
    outline: none;
    resize: none;
}

textarea::placeholder {
    font-size: var(--md);
    color: var(--light-grey);
    text-align: center;
}

textarea:focus {
    outline-color: var(--blue);
}

.TodoForm__button {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
}

.TodoForm__button button {
    background-color: var(--blue);
    border-radius: 8px;
    width: 60px;
    height: 25px;
    border: transparent;
    font-size: var(--sm);
    color: var(--dark-grey);
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.TodoForm__error {
    color: red;
    font-size: var(--sm);
}
