.TodoFieldLeft {
    width: 80%;
    grid-row: 2 / 4;
    display: grid;
    grid-template-rows: 60px 40px;
    justify-content: start;
    align-items: center;
    margin: 0 50px;
}

.TodoFieldLeft .TodoFieldLeft--input {
    grid-row: 1 / 2;
    width: 350px;
    height: 40px;
    padding-left: 15px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    font-size: 1.8rem;
    color: var(--dark-grey);
    outline: none;
}

.TodoFieldLeft button {
    grid-row: 2 / 3;
    width: 100px;
    height: 35px;
    margin: 0;
    text-align: center;
    color: var(--just-white);
    background-color: #3c5c80;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
