.TodoButtonLeft {
    grid-row: 3 / 4;
    width: 100px;
    height: 35px;
    margin: 0 30px;
    text-align: center;
    color: white;
    background-color: #3C5C80;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    margin-left: 50px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
